.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ececec;
  @include tablet {
    padding-top: 21px;
    padding-bottom: 21px;

    @include desktop {
      padding-top: 24px;
      padding-bottom: 25px;
    }
  }

  &__mobile-menu {
    @include flex(flex, space-between, center);
    height: 40px;
    @include tablet {
      display: none;
    }
  }

  &__mobile-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  &__mobile-logo {
    margin-left: 15px;
  }

  &__menu-icon {
    margin-right: 15px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      fill: var(--accent-color);
    }
  }
}

.container.header__container {
  display: none;
  @include tablet {
    @include flex(flex, null, center);
  }

  @include desktop {
    @include flex(flex, center, baseline);
  }
}

.logo__tablet {
  margin-right: 88px;
}

.logo__desktop {
  margin-right: 93px;
}

.site-nav__list {
  @include flex(flex, null, center);

  & .site-nav__item + .site-nav__item {
    margin-left: 50px;
  }
}

.auth-nav__list {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }
}

.site-nav {
  @include flex(flex, null, center);
}

.auth-nav__list {
  margin-left: auto;
  @include desktop {
    & .auth-nav__item + .auth-nav__item {
      margin-left: 50px;
    }
  }
}
.auth-nav__item:not(:last-child) {
  margin-bottom: 10px;
}

.site-nav .site-nav__link {
  color: var(--title-text-color);
  text-decoration: none;
  @include font(500, 14px, 1.14, null, null);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &.site-nav__link--current {
    color: var(--accent-color);
  }
}

.site-nav__link--current {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    bottom: -34px;
    left: 0;

    @include desktop {
      bottom: -38px;
    }
  }
}

.auth-nav__link {
  text-decoration: none;
  @include font(500, 14px, 1.14, 0.02em, null);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include flex(flex, null, center);
  color: var(--primary-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @include desktop {
    margin-bottom: 0;
  }
}

.auth-nav__icon {
  margin-right: 10px;
  fill: currentColor;

  &:hover {
    fill: var(--accent-color);
  }
}
